* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

nav ul li :hover {
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.header nav img:first-of-type {
  filter: blur(5px);
}

ul li a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  width: 100%;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mobile-nav-wrapper {
  background-color: #414141;
  left: 0;
  right: 0;
  height: 48px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homescreen nav img {
  width: 16px;
}
.dekstop-nav2-wrapper {
  height: 54px;
  display: flex;
  justify-content: center;
  padding: 0 12px;
  margin: 15px 0 70px;
}
.dekstop-nav2-wrapper ul img {
  width: 80px;
  height: 60px;
}
.dekstop-nav2-wrapper div {
  text-align: center;
  text-decoration: none;
  padding-right: 10px;
}
.dekstop-nav2-wrapper div a {
  text-decoration: none;
  color: black;
}
.dekstop-nav2-wrapper div a:hover {
  text-decoration: none;
  color: blue;
}
.dekstop-nav2-wrapper ul {
  width: 100%;
  height: 100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.dekstop-nav-wrapper {
  display: none;
}
.banner {
  width: 100%;
  margin: 5% 0%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.blackbanner {
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.banner .tv_wrapper h1 {
  color: rgb(58, 91, 252);
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.banner .tv_wrapper p {
  color: gray;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 20px;
  letter-spacing: 0.009em;
}
.banner .tv_wrapper h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0 20px;
  letter-spacing: 0.009em;
}
.banner .tv_wrapper h2 {
  font-size: 28px;
  font-weight: 400;
}
section:nth-child(2) h2:first-of-type {
  padding-bottom: -30px;
  color: #0000ff;
}
section:nth-child(3) h2:first-of-type,
section:nth-child(3) a {
  padding-bottom: -30px;
  color: #9999ff;
}

.tv_image_wrapper img {
  margin: 30px 0;
  padding-bottom: 50px;
  width: 100%;
}
.tv_image_wrapperb img {
  width: 100%;
}
section:nth-child(3) {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
  color: white;
}
button {
  margin-top: 10px;
  padding: 7px 15px;
  font-size: 18px;
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 15px;
}
.banner .tv_wrapper a {
  margin-left: 20px;
  font-size: large;
  text-decoration: none;
}
.banner .tv_wrapper a:hover {
  text-decoration: underline;
}
footer {
  padding: 30px 0;
  width: 75%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 20px;
}

.quick-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-between;
}

footer li {
  font-size: 12px;
  margin: 10px 0;
}

.copyright {
  padding: 10px 0 0;
  border-top: 0.5px solid #ccc;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .mobile-nav-wrapper {
    display: none;
  }
  .dekstop-nav-wrapper {
    width: 100%;
    display: block;
    background-color: #414141;
    height: 48px;
    display: flex;
    justify-content: center;
    padding: 0 12px;
  }
  .dekstop-nav-wrapper ul {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dekstop-nav2-wrapper ul img {
    width: 80px;
    height: 54px;
  }
  .dekstop-nav2-wrapper div {
    text-align: center;
    text-decoration: none;
  }
  .dekstop-nav2-wrapper div a {
    text-decoration: none;
    color: black;
  }
  .dekstop-nav2-wrapper div a:hover {
    text-decoration: none;
    color: blue;
  }
  .dekstop-nav-wrapper ul {
    width: 70%;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dekstop-nav2-wrapper ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: unset;
  }
  .tv_image_wrapper img:first-of-type {
    margin: 30px 0;
    padding-bottom: 50px;
    width: fit-content;
  }

  .blackbanner {
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  footer li {
    text-align: center;
  }
}
